*{padding:0;margin:0;box-sizing:border-box}


#root{
    display:flex;
    flex-direction:column
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,350px));
  grid-gap:1rem;
}

.card {
  padding:1rem;
  box-shadow:1px 1px 3px rgba(0,0,0,.3);
  transition:all .3s;
  border-radius:3px}

.card img{width:20%}

.card:hover{transform:scale(1.1) }